.translate__side-bar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  width: 600px;
  z-index: 100;
  border-right: 1px solid black;
  height: 100%;
  transition: width 1s ease-in-out;
  overflow: auto;
}

.translate__side-bar--hide {
  width: 100px;
}

.side-bar__toggle {
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}

.side-bar__translate-key {
  word-break: break-all;
  overflow: auto;
  padding: 5px;
  display: block;
  color: $grey;
}

.side-bar__group-key {
  cursor: pointer;
  padding-left: 10px;
}

.side-bar__translate-keys {
  padding-left: 10px;
  min-height: 1px;
  height: 1px;
  overflow: hidden;
}

.side-bar__translate-keys--visible {
  transition: height 1s ease-in;
  height: auto;
}
